<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer  Churn Prediction</title>
    <style>
        body {font-family:Arial; margin: 40px; background:#F5F5F5;}
        form {background:white; padding:20px; borader-radius:10px; width: 400px;margin:auto;}
        input {margin-bottom: 10px; width:100%; padding:5px;}
        button {padding:10px; width:100%; background:#17174D; color:white; border:none; border-radius: 5px;}
    </style>
</head>
<body>
    <h2>Customer Churn Prediction</h2>
    <form action="/predict" method:"post">
        <input type:"text" name="gender" placeholder="gender (1= Male, 0=Female)" required>
        <input type:"text" name="age" placeholder="Age" required>
        <input type:"text" name="tenure" placeholder="Tenure" required>
        <input type:"text" name="balance" placeholder="Balance" required>
        <input type:"text" name="products_number" placeholder="Number of Products Bought" required>
        <input type:"text" name="has_credit_card" placeholder="Has Credit Card (1= Yes, 0=No)" required>
        <input type:"text" name="is_active_member" placeholder="Is Active Member (1= Yes, 0=No)" required>
        <input type:"text" name="estimated_salary" placeholder="Estimated Salary" required>
        <button type = "submit">Predict</button>
    </form>
    {% if prediction_text %}
    <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
    
    